---
- Docs:
    - HomeOS Docs:
        - abbr: HD
          href: https://github.com/bloodf/homeos/tree/main/docs
    - Day-2 CLI:
        - abbr: D2
          href: https://github.com/bloodf/homeos/blob/main/docs/DAY2.md
