services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      TZ: America/Sao_Paulo
      SIGNUPS_ALLOWED: "false"
      DOMAIN: "https://vault.{{ tailnet_host | default('homeos.example.ts.net') }}"
      WEBSOCKET_ENABLED: "true"
    ports:
      - "8222:80"
    volumes:
      - /srv/vaultwarden:/data
    labels:
      com.centurylinklabs.watchtower.enable: "false"
